<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.camerapermissionapp">

    <!--TODO(1) - add the permission (and if applicable the feature) to the android manifest-->
    <!--    camera feature (explicitly defined to control how the app is recommended on the app store)    -->
    <uses-feature android:name="android.hardware.camera2.*" android:required="true"></uses-feature>
    <!--    camera permission   -->
    <uses-permission android:name="android.permission.CAMERA"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>



</manifest>